.reviews{
    padding: 80px 0 0 0;
}
.reviews_title_txt{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 120px 0;
}
.reviews_centr{
    background: rgb(255, 255, 255);
    width: 731px;
    height: 280px;
    padding: 0 99px 30px 99px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    margin: 0 0 70px 0;
}
.reviews_txt{
    color: #333333;
    font-size: 12px;
    text-align: justify;
}
.commentdate{
    color: #333333;
    font-size: 10px;
    margin: -35px 0 0 0;
}
.reviews_txt_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items:flex-start;
}
.avatar{
    margin: -45px 0 0 20px;
}
.icon-strelka{
    color: #828282;
    font-size: 18px;
    line-height: 160px;
}
.icon-strelrf2{
    color: #828282;
    font-size: 18px; 
    line-height: 160px;
}