@import "fonts";
body{
	background-color: #F5FAFE;
	font-family: Mulish;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: rgb(255, 255, 255);
}
@import "header";
@import "titlecardblock";
@import "PackSumblock";
@import "OtherPackagesblock";
@import "footer";