.block_markup{
    margin: 0 auto;
	padding: 0 20px;
	max-width: 1145px;
}
.titlecard_path{
    height: 120px;
    line-height: 120px;
	color: rgb(0, 0, 0);
}
h3{
    color: rgb(0, 0, 0);
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 23px 0 0;

}
.title_txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content:center;
}
.FlashOffer{
    width: 70px;
    height: 20px;
    background: #EC1F46;
    border-radius: 3px;
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}
.title_info{
    color: rgb(0, 0, 0);
}
.title_star{
    display: flex;
}
.icon-star{
    color: #F2994A;
    font-size: 8px;
    margin: 0 4px 5px 0;
}
.grandtitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}
.balls{
    width: 65px;
    height: 45px;
    background: #EC1F46;
    border-radius: 4px;
}
.balls_txt{
    text-align: center;
    font-size: 8px;
    margin: 4px 0 0 0;
}
.num{
    font-size: 10px;
    margin: 2px 0 0 0; 
}
.balls_num{
    text-align: center;
}
.grandcard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
.grandcard_foto{
    background-image: url('../img/rectangle5.jpg');
    width: 728px;
    height: 450px;
}
.grandcard_card_data{
    width: 350px;
    height: 210px;
    background: #0A223D;
    border-radius: 8px;
    padding: 30px 26px;
    margin: 0 0 27px 0;
}
.price_data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
.card_data{
    text-align:end
}
.icon-phone-call1{
    font-size: 18px;
    margin: 4px 0 0 0;
}
.buton_card{
    width: 100%;
    height: 45px;
    background-color: #EC1F46;
    text-align:center;
    font-size: 14px;
    line-height: 40px;
    border-radius: 4px;
}
.bc_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.price_start{
    font-size: 8px;
    margin: 0 0 4px 0;
}
.price_sum{
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 4px 0;
}
.price_info{
    font-size: 12px;
    margin: 0 0 4px 0;
}
.price_booking{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 17px 0;  
}
.icon-user{
    font-size: 12px;
    margin: 0 0 8px 0;
}
.icon-home{
    font-size: 12px;
    margin: 0 0 8px 0;
}
.icon-phone-call1{
    font-size: 18px;
    font-weight: 800;
    line-height: 60px;
}
.ulmenu_card{
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
	max-width: 1480px;
	height: 80px;
	font-family: Mulish;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	margin: 0 auto;
	padding: 0 20px;
	list-style: none;
}